.github/ @nvidia-nemo/automation
docker/ @nvidia-nemo/automation
pyproject.toml @nvidia-nemo/automation
uv.lock @nvidia-nemo/automation

nemo_export @athitten @oyilmaz-nvidia @pthombre
nemo_deploy @athitten @oyilmaz-nvidia @pthombre
nemo_export_deploy @athitten @oyilmaz-nvidia @pthombre
scripts @athitten @oyilmaz-nvidia @pthombre
README.md @athitten @oyilmaz-nvidia @pthombre
