nemo_toolkit[automodel,common-only,nlp-only,eval,multimodal-only,asr-only]@git+https://github.com/NVIDIA/NeMo.git@259d684e73c45091f0b6144342133e6ceb7e824c # this is to be replaced with a wheel starting from v2.4.0
